/* Customize the styling of your About Me page here */
.card {
  display: flexbox;
  width: max-content;
}
.linkButton {
  margin-top: 10px;
  text-align: center;
}

.List {
  color: purple; /*TODO: Put in terms of global styles */
}

/* Import shared styles */
@import './shared.css';
